<div class="row">
  <div class="col-8 offset-2">
    <h1 class="text-center">◆ご購入ありがとうございます◆</h1>
    <%= image_tag 'thanks.jpg', size:"600x500", class:"d-block mx-auto" %>
  </div>
</div>

<div class="row">
  <div class="col-8 offset-2">
    <h2 class="text-center">ご注文から１〜２営業日以内に受注完了メールを送付いたします。
    <br>メールが到着しましたら内容をご確認いただき、お支払い手続きにお進み下さいませ。</h2>
  </div>
</div>

  <div class="row">
    <div class="col-10 offset-1 text-center">
      <%= link_to "HOMEへ戻る", root_path, class: "btn btn-primary" %>
    </div>
  </div>