<div class="row">
  <div class="col-3 offset-1">
    <h1>初めまして！</h1>
  </div>
  <div class="col-7">
    このサイトは、2匹のダックス飼いであるオーナーが製作する
    <br>わんちゃん用オーダー服の販売サイトです。
    <br>
    <br>まず、アイテムからデザインをお選びいただき
    <br>さらにお好みの生地とおリボンで
    <br>世界に一つだけのお洋服をお作りいたします。
  </div>
</div>