<div class="row">
  <div class="col-8 offset-2">
    <h1>お支払い方法</h1>
    <h2>銀行振込（前払い）</h2>
    <p>【振込先】
    <br>　三井住友銀行　〇〇支店
    <br>　普通　1234567
    <br>　〇〇　〇〇（ﾏﾙﾏﾙ ﾏﾙﾏﾙ</p>
    <p class="small">※お振り込み手数料はお客様のご負担でお願い致します。</p>
    <p>ご注文後にお送りする受注完了メールにて、再度お支払い合計金額とお振込先をご案内いたします。
    <br>お振込みの確認が取れ次第、製作に着手させていただきます。
    <br>またマイページの注文履歴より、現在ステータスをご確認いただけます。</p>

    <h1>配送方法・送料について</h1>
    <h2>ヤマト運輸</h2>
    <p>全国一律 1 回のご注文につき　830円（税込）</p>
    <p>宅急便にてご送付いたします。</p>
  </div>
</div>

<p class="text-center"><%= link_to "戻る", :back %></p>