<div class="row">
  <div class="col-8 offset-2">
    <h1>◆サイズ選びにつきまして</h1>
    <p>ジャストサイズをお選びになってしまうと、わんちゃんにとって動きにくく
    <br>また飼い主様にとっても着せにくいお洋服になってしまいます。
    <br>特に首周り・胴周りは縦に指２本入るくらいの余裕を持たせてください。
    <br><small>※下記表のサイズはお洋服の仕上がりサイズです。
    <br>　お選びの際は、胴周りを基準に一番近いサイズ（中間の場合は大きい方のサイズ）をお選びください。</small></p>

    <h1>◆仕上がりサイズ</h1>
    <small>サイズ単位：cm</small>
    <div class="table-display">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>タンク・シャツ</th>
          <th>着丈</th>
          <th>胴周り</th>
          <th>首周り</th>
          <th>参考犬種</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>SS</th>
          <td>18</td>
          <td>31</td>
          <td>〜21</td>
          <td>パピー、チワワ</td>
        </tr>
        <tr>
          <th>S</th>
          <td>21</td>
          <td>35</td>
          <td>〜24</td>
          <td>ヨーキー、チワワ</td>
        </tr>
        <tr>
          <th>M</th>
          <td>25</td>
          <td>42</td>
          <td>〜27</td>
          <td>ポメラニアン、パピヨン
          <br>トイプードル、マルチーズ
          <br>ミニチュアピンシャー</td>
        </tr>
        <tr>
          <th>L</th>
          <td>29</td>
          <td>48</td>
          <td>〜31</td>
          <td>シーズー、マルチーズ
          <br>ミニチュアシュナウザー</td>
        </tr>
        <tr>
          <th>LL</th>
          <td>33</td>
          <td>52</td>
          <td>〜35</td>
          <td>柴犬、ビーグル
          <br>キャバリア</td>
        </tr>
        <tr>
          <th>DM</th>
          <td>31</td>
          <td>43</td>
          <td>〜30</td>
          <td>ミニチュアダックス</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>ワンピース・スカート付き</th>
          <th>着丈（上着丈＋スカート）</th>
          <th>胴周り</th>
          <th>首周り</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>SS</th>
          <td>20（13＋7）</td>
          <td>31</td>
          <td>〜21</td>
        </tr>
        <tr>
          <th>S</th>
          <td>23（15＋8）</td>
          <td>35</td>
          <td>〜24</td>
        </tr>
        <tr>
          <th>M</th>
          <td>28（18＋10）</td>
          <td>42</td>
          <td>〜27</td>
        </tr>
        <tr>
          <th>L</th>
          <td>32（20.5＋11.5）</td>
          <td>48</td>
          <td>〜31</td>
        </tr>
        <tr>
          <th>LL</th>
          <td>36（23＋13）</td>
          <td>52</td>
          <td>〜35</td>
        </tr>
        <tr>
          <th>DM</th>
          <td>33（22＋11）</td>
          <td>43</td>
          <td>〜30</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>ロンパース・ズボン付き</th>
          <th>着丈（上着丈＋ズボン）</th>
          <th>胴周り</th>
          <th>首周り</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>SS</th>
          <td>21（13＋8）</td>
          <td>31</td>
          <td>〜21</td>
        </tr>
        <tr>
          <th>S</th>
          <td>24（15＋9）</td>
          <td>35</td>
          <td>〜24</td>
        </tr>
        <tr>
          <th>M</th>
          <td>29（18＋11）</td>
          <td>42</td>
          <td>〜27</td>
        </tr>
        <tr>
          <th>L</th>
          <td>33（20.5＋12.5）</td>
          <td>48</td>
          <td>〜31</td>
        </tr>
        <tr>
          <th>LL</th>
          <td>37（23＋14）</td>
          <td>52</td>
          <td>〜35</td>
        </tr>
        <tr>
          <th>DM</th>
          <td>34（22＋12）</td>
          <td>43</td>
          <td>〜30</td>
        </tr>
      </tbody>
    </table>
  </div>
    <h1>◆サイズの測り方</h1>
</div>
</div>
<div class="row">
    <div class="col-4 offset-2">
      <%= image_tag 'サイズの測り方.png', width:"100%" %>
    </div>
    <div class="col-4">
      <p>・着丈
      <br>首の付け根（首輪を付ける部分）～しっぽまでの間の好みの長さ</p>
      <p>・首周り
      <br>首輪を付けるあたりの首周りの長さ</p>
      <p>・胴周り
      <br>前足の付け根を通った、胴周りの一番太い部分の長さ</p>
    </div>
  </div>
</div>
<p class="text-center"><%= link_to "戻る", :back %></p>