<div class="container-full">
<div class="sk-image">
  <div id="theTarget">
      <div class="sk-image" id="sk_img_1"></div>
      <div class="sk-image" id="sk_img_2"></div>
      <div class="sk-image" id="sk_img_3"></div>
      <div class="sk-image" id="sk_img_4"></div>
      <div class="sk-image" id="sk_img_5"></div>
  </div>
</div>
</div>
</div>