<div class="sk-image">
  <div id="theTarget">
      <div class="sk-image" id="sk_img_1"></div>
      <div class="sk-image" id="sk_img_2"></div>
      <%# <div class="sk-image" id="sk_img_3.jpg"></div>
      <div class="sk-image" id="sk_img_4.jpg"></div>
      <div class="sk-image" id="sk_img_5.jpg"></div> %>
  </div>
</div>