<div class="container-full">
  <div class="sk-image">
    <div id="theTarget">
        <div style="background-image: url(/sk/sk_img_1.jpg)"></div>
        <div style="background-image: url(/sk/sk_img_2.jpg)"></div>
        <div style="background-image: url(/sk/sk_img_3.jpg)"></div>
        <div style="background-image: url(/sk/sk_img_4.jpg)"></div>
        <div style="background-image: url(/sk/sk_img_5.jpg)"></div>
    </div>
  </div>
</div>