/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */


// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import 'font-awesome-sprockets';
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #33131a;
}

a:link {color:#da536e; text-decoration:none }
a:visited { color:#cc4e67; text-decoration:none }
a:hover { color:#993a4d; text-decoration:none }
a:active { color:white; text-decoration:none }

.navbar {
  height: 60px;
  width: 100%;
}

.navbar-text {
  color: #33131a;
  font-size: large;
  padding: 0;
}

header {
  width: 100%;
  height: 200px;
  padding-top: 10px;
  background: linear-gradient(#ff6181, white);
}

.user-set li {
  border-bottom: double 3px #662733;
  padding-left: 20px;
}

.admin-set li {
  border-bottom: double 3px #662733;
  padding-left: 10px;
  padding-right: 10px;
}

.menu {
  color: #cc4e67;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  height: 200px;
  padding-top: 40px;
  margin-top: 20px;
  font-size: small;
  background: linear-gradient(#ff6181, white);
}

// footer インスタリンクのデザイン
.insta_btn2{/*ボタンの下地*/
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  position: relative;
  display: inline-block;
  height: 50px;/*高さ*/
  width: 220px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.insta_btn2:before{/*グラデーション②*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;/*全体を覆う*/
  height: 100%;/*全体を覆う*/
  background: -webkit-linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
  background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
}

.insta_btn2 .fa-instagram{/*アイコン*/
  font-size: 35px;/*アイコンサイズ*/
  position: relative;
  top: 4px;/*アイコン位置の微調整*/
}

.insta_btn2 span {/*テキスト*/
  display:inline-block;
  position: relative;
  transition: .5s
}

.insta_btn2:hover span{/*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
// 

h1 {
  font-size: x-large;
  border-bottom: double 3px #662733;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 40px;
  background-image: image-url("paw-solid.png");
	background-repeat: no-repeat;
	background-size: 25px;
  background-position: left 7px center;
}

// TOP 新着・お気に入りタイトルは h1 のアイコンを適用させない
.clear-h1 {
  padding-left: initial;
  background-image: initial;
}

h2 {
  font-size: large;
  margin-bottom: 30px;
}

li {
  list-style: none;
}

// 通常のボタン色
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  color:#da536e;
  background: #fff;
  border-color: #d98293;
}

// フォーカス時の枠線色
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(238, 229, 210);
  background-color: #d9abd6;
}

// ホバー時のボタン色
.btn-primary:hover {
  color: #fff;
  background-color: #d98293;
  border-color: #d98293;
}

// アクティブ時のボタン色
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #d9abd6;
  border-color: #d9abd6;
}

// TOPのskipprのみ画面幅で表示
.container-full {
  margin-right: -165px;
  margin-left: -165px;
}

.sk-image {
  height: 500px;
  width: 100%;
}

// TOP Ranking
.item_rank1 {
  font-size: large;
  color: orange;
}

.item_rank2 {
  font-size: large;
  color: lightslategray;
}

.item_rank3 {
  font-size: large;
  color: sienna;
}

// about step
.order-step {
  font-size: large;
  font-weight: bold;
  background-color: #e8baca;
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

// size table
.table-display th {
  text-align: center;
  vertical-align: middle;
}

.table-display td {
  text-align: center;
  vertical-align: middle;
}
// 

select {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 7px 30px 7px 10px;
	line-height: 1.1em;
  background-image: image-url("angle-down-solid.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: right 7px center;
  background-color: #eee;
}

input {
  box-shadow: 0 0 black;
  background-color: #efefef;
}

textarea {
  box-shadow: 0 0 black;
}

// 商品詳細の生地・リボン一覧画像
.design-select {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: groove;
}

// ジャンル別の表示
.item-genre li {
  padding: 5px 10px 5px 10px;
  border: 4px double;
  border-radius: 20px;
}

// pagenate
// ページネーション自体のデザイン
.pagination>li>a {
  color:#da536e;
  background: #fff;
}

// 表示しているページ番号のデザイン
.pagination>.active>a {
  color: #fff;
  background: #d9abd6;
  border: #d9abd6;
}

// ホバー時のデザイン
.pagination>li>a:hover {
  color: #fff;
  background-color: #d98293;
  border-color: #d98293;
}