/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */


// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import 'font-awesome-sprockets';
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #33131a;
}

a:link {color:#da536e; text-decoration:none }
a:visited { color:#cc4e67; text-decoration:none }
a:hover { color:#993a4d; text-decoration:none }
a:active { color:white; text-decoration:none }

.navbar {
  height: 60px;
  width: 100%;
}

.icon-class {
  font-size: 50px;
}

// footer
footer {
  width: 100%;
  height: 200px;
  padding-top: 40px;
  font-size: small;
  background: linear-gradient(#cc4e67, white);
}

.yield {
  padding: 20px 0px;
}

h1 {
  font-size: x-large;
  border-bottom: double 3px #662733;
  margin-bottom: 30px;
}

h2 {
  font-size: large;
  margin-bottom: 30px;
}

li {
  list-style: none;
}

.devise-btn {
  color:#da536e;
}
// 通常のボタン色
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  background: #fff;
  border-color: #d98293;
}

// フォーカス時の枠線色
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(238, 229, 210);
  background-color: #d9abd6;
}

// ホバー時のボタン色
.btn-primary:hover {
  color: #fff;
  background-color: #d98293;
  border-color: #d98293;
}

// アクティブ時のボタン色
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #d9abd6;
  border-color: #d9abd6;
}
.sk-image {
  height: 500px;
  width: 100%;
  border-radius: 20px;
}

#sk_img_1 {
  background-image: url("sk/sk_img_1.jpg");
}

#sk_img_2 {
  background-image: url("sk/sk_img_2.jpg");
}

#sk_img_3 {
  background-image: url("sk/sk_img_3.jpg");
}

#sk_img_4 {
  background-image: url("sk/sk_img_4.jpg");
}

#sk_img_5 {
  background-image: url("sk/sk_img_5.jpg");
}

